<ul id="footer">
    <li>
        <a href="http://www.gracecode.com/archives/3061/">About</a>
    </li>
    <li>
        <a href="https://github.com/feelinglucky/php-readability/">GitHub</a>
    </li>
    <li>
        <a href="http://www.gracecode.com/">Gracecode.com</a>
    </li>
    <li>
        <a style="cursor:move;" title="Drag Me into Your Bookmark Bar" href="javascript:void(location.href='http://lab.gracecode.com/readability/?url='+encodeURIComponent(location.href));">Make Readability!</a>
    </li>
</ul>
<script type="text/javascript"> 
    var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
    document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script> 
<script type="text/javascript"> 
    try {
        var pageTracker = _gat._getTracker("UA-2634498-1");
        pageTracker._trackPageview();
    } catch(err) {}
</script> 
<img src="http://img.tongji.linezing.com/1131079/tongji.php" alt="Yahoo 统计" style="display:none;" /> 
