

<div class="hidden">
    <script type="text/javascript"> 
        var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
        document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script> 
    <script type="text/javascript"> 
        try {
            var pageTracker = _gat._getTracker("UA-2634498-1");
            pageTracker._trackPageview();
        } catch(err) {}
    </script> 
</div>
<footer>
            <div id="copyright">
                <p>
                    Proudly powered by
                    <a href="http://ruhoh.com/" title="Ruhoh Offical Homepage">Ruhoh</a>!
                    <br>
                    <!--
                    <a href="http://www.gracecode.com/rss.xml">
                        <img src="http://feeds.feedburner.com/~fc/gracecode" alt="rss count" />
                    </a> 
                    -->
                    <a href="http://www.apple.com/getamac/" title="Get a Mac" ref="nofollow"> 
                        <img src="http://files.gracecode.com/2012_10_15/1350272062.png" alt="Get a Mac"> 
                    </a>
                </p>
            </div> 
        
            <div id="footnote"> 
                <p>
                    © 2007 - 2014 無標題文檔 
                    <!-- <a href="http://www.gracecode.com/rss.xml">rss</a> -->
                    <a href="http://rss.gracecode.com">RSS</a>
                </p>
                <p>
                    <a href="http://www.miibeian.gov.cn" ref="nofollow" title="和谐地备了案">沪ICP备14003520号-1</a> 
                </p>
            </div>
        </footer>
