<style><?php
/*
<link rel="stylesheet" type="text/css" href="assets/css/reset-min.css" />
<link rel="stylesheet" type="text/css" href="assets/css/typography-min.css" />
<link rel="stylesheet" type="text/css" href="assets/css/readability.css" />
*/
    include DIR_ROOT."/assets/css/reset-min.css";
    include DIR_ROOT."/assets/css/typography-min.css";
    include DIR_ROOT."/assets/css/readability-min.css";
    ?></style>
<link rel="alternate" type="application/rss+xml" title="RSS 2.0" href="http://feeds.gracecode.com/gracecode/" />
<meta name="author" content="明城(mingcheng)" />
<link rel="icon" type="image/x-icon" href="http://www.gracecode.com/images/favicon/favicon_16x16.png" 
    type="image/png" />
<link rel="shortcut icon" href="http://www.gracecode.com/images/favicon/favicon_16x16.png" type="image/png" />
<meta name="application-name" content="Gracecode.com"/>
<link rel="icon" href="http://www.gracecode.com/images/favicon/favicon_48x48.png" sizes="48x48" />
<link rel="icon" href="http://www.gracecode.com/images/favicon/favicon_32x32.png" sizes="32x32" />
<meta name="application-url" content="http://www.gracecode.com/" />

