<link href="http://cdn.staticfile.org/meyer-reset/2.0/reset.css" rel="stylesheet" type="text/css" />
<link href="http://www.gracecode.com/assets/media/styles-min.css" rel="stylesheet" type="text/css" />
<link rel="alternate" type="application/rss+xml" title="RSS 2.0" href="http://rss.gracecode.com/" />
<link rel="icon" href="http://www.gracecode.com/assets/media/images/wu@128x128.png" sizes="128x128" />
<link rel="icon" href="http://www.gracecode.com/assets/media/images/wu@64x64.png" sizes="32x32" />
<link rel="icon" type="image/x-icon" href="http://www.gracecode.com/assets/media/images/wu@64x64.png" type="image/png" />
<link rel="shortcut icon" href="http://www.gracecode.com/assets/media/images/wu@64x64.png" type="image/png" />
<meta name="application-name" content="Gracecode.com"/>
<meta name="application-url" content="http://www.gracecode.com/" />
