<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Readability - Back the fun of reading. - Gracecode.com</title>
        <?php include DIR_ROOT . '/template/header.inc.html'; ?>
    </head>
    <body>
        <div id="page">
            <h1 id="logo">Readability</h1>
            <p id="desp">Back the fun of reading.</p>
            <form action="." method="get" id="form">
                <p>
                    <input type="text" placeholder="请输入需要阅读的网址" id="url" name="url" value="" />
                    <input type="submit" id="submit" value="&raquo;" />
                </p>
            </form>
            <?php include DIR_ROOT . '/template/footer.inc.html'; ?>
        </div>
    </body>
</html>
