<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <base href="<?php echo dirname($request_url); ?>" />
        <title><?php echo $title; ?> - lab.gracecode.com</title>
        <?php include DIR_ROOT . '/template/header.inc.html'; ?>
    </head>
    <body>
        <div id="page" class="article">
            <h1><a title="back to original page"
                    href="<?php echo $request_url; ?>"><?php echo $title; ?></a></h1>
            <hr />
            <?php echo $content; ?>
        </div>
    </body>
</html>



